{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="container">
        <div class="section">


            <h2>This website is designed to help you find a right doctor</h2><br>
            <h2>Good luck!</h2>
            <table>


            <h1>
                <nav class="form-group">
                    <br><br>
                    <a class="nav-link" href="/quote">Find a doctor</a>
                </nav>
            </h1>


            </table>
        </div>
    </div>

{% endblock %}